@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.font-poppins {
    font-family: 'Poppins', sans-serif;
}

.font-general {
    font-family: 'Poppins', sans-serif;
    color: #48466D;
}

.font-gray {
    font-family: 'Poppins', sans-serif;
    color: #52525B;
}

.font-lightgray {
    font-family: 'Poppins', sans-serif;
    color: #808080;
}

.font-heavygray {
    font-family: 'Poppins', sans-serif;
    color: #4F4F4F;
}

@layer base {
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
  